@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
}

body {
  max-width: 1400px;
  margin: 5% 5% 0 5%;
  font-family: 'Montserrat', sans-serif;
}

main {
  max-width: 1400px;
  margin: auto;
}
