
a {
    color: #FF6060;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}

.header_logo {
    width: 145px;
    height: 47px;
}

.header_nav {
    display: flex;
    justify-content: space-between;
    width: 130px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

@media screen and (min-width: 768px){

.header_nav {
    width: 290px;
    font-size: 24px;
    text-transform: none;
}

.header_logo {
    width: 210.32px;
    height: 68px;
}
}