
.a {
    color: #FF6060;
    text-decoration: none;
}

.a :visited {
    color: #FF6060;
    text-decoration: none;
}
.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 20px;
}

.header_logo {
    width: 145px;
    height: 47px;
}

.header_nav {
    display: flex;
    justify-content: space-between;
    width: 130px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.currentStyle {
    color: #ff6060;
    text-decoration: underline;
}

@media screen and (min-width: 768px){

.header {
    margin: 40px 100px 0 100px;
}
.header_nav {
    width: 290px;
    font-size: 24px;
    font-weight: 500;
    text-transform: none;
}

.header_logo {
    width: 210.32px;
    height: 68px;
}
}