
.cardSection {
    width: 100%;
    padding-bottom: 20px;
    margin: 0 20px 0 20px;
}

@media screen and (min-width: 768px){

.cardSection {
    background: #F7F7F7;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 25px;
    padding: 50px;
    margin-top: 40px;
}
}