
.h1Product {
    color: #ff6060;
    font-size: 18px;
}

.h2Product {
    color: #ff6060;
    font-size: 14px;
}

.tagsBlock {
    display: flex;
    margin-top: 25px;
    overflow: auto;
}

.hostBlock {
    width: 100%;
    height: 60px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.collapseBlock_product {
    height: 210px;
}

li {
    list-style: none;
}

@media screen and (min-width: 768px) {

.h1Product {
font-size: 36px;
font-weight: 500;
height: 25px;
}

.h2Product {
    font-size: 18px;
    font-weight: 500;
    height: 10px;
}

.desktopDisplay {
    display: flex;
    flex-direction: column;
}

.hostBlock {
    position: absolute;
    width: 89.8%;
    margin-top: 90px;
    flex-direction: column-reverse;
    align-items: flex-end;
}
}




























