
.infoBlock {
    display: flex;
	flex-direction: column;
	justify-content: space-between;
    margin: 0 20px 0 20px;
}

.h1Product {
    color: #ff6060;
    font-size: 18px;
    font-weight: 500;
}

.h2Product {
    color: #ff6060;
    font-size: 14px;
    font-weight: 500;
}

.tagsBlock {
    display: flex;
    margin-top: 25px;
    overflow: auto;
}

.hostBlock {
    width: 100%;
    height: 60px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.collapseBlock_product {
    height: auto;
    margin: 0 20px 50px 20px;
}

li {
    list-style: none;
}

@media screen and (min-width: 768px) {

.tagsBlock {
    flex-wrap: wrap;
    width: 70%;
}

.h1_block {
    width: 80%;
}

.h1Product {
    font-size: 36px;
    font-weight: 500;
    height: 62px;
}

.h2Product {
    font-size: 18px;
    font-weight: 500;
    height: 10px;
}

.infoBlock {
    flex-direction: column;
    margin: 0 100px 0 100px;
}

.hostBlock {
    margin-top: -75px;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.collapseBlock_product {
    display: flex;
    flex-direction: row;
    gap: 5%;
    margin: 0 100px 0 100px;
}
}

@media screen and (min-width: 992px) {

.h1Product {
    height: 25px;
}
}