
.tags { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    Height: 18px;
    color: white;
    font-size: 10px;
    font-weight: 500;
    border-radius: 5px;
    background-color: #ff6060;
    margin-right: 10px;
}

@media screen and (min-width: 768px) {
   
.tags { 
    width: 140px;
    Height: 25px;
    font-size: 14px;
    border-radius: 10px;
    margin-bottom: 10px;
}
}
